# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
sym-lib-table
# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

#Backup directory
ExpansionCards/Electrical/KiCad_templates/Expansion_Card/Expansion_Card-backups
Electrical/KiCad_templates/Expansion_Card/Expansion_Card-backups/Expansion_Card-2023-02-11_194024.zip
Electrical/KiCad_templates/Expansion_Card/Expansion_Card-backups/Expansion_Card-2023-02-11_204842.zip
Electrical/KiCad_templates/Expansion_Card/Expansion_Card-backups/Expansion_Card-2023-02-15_163917.zip
.gitignore
Electrical/KiCad_templates/Expansion_Card/Expansion_Card-backups/Expansion_Card-2023-02-24_175121.zip
Electrical/KiCad_templates/Expansion_Card/Expansion_Card-rescue.dcm
Electrical/KiCad_templates/Expansion_Card/Expansion_Card-rescue.lib
Electrical/KiCad_templates/Expansion_Card/Expansion_Card.kicad_prl
Electrical/KiCad_templates/Expansion_Card/Expansion_Card.kicad_pro
Electrical/KiCad_templates/Expansion_Card/Expansion_Card.kicad_sch
